.btn-ok {
    background-color: green;
    color: white;
  }

::ng-deep {
  .cdk-overlay-pane {
    max-width: 30vw !important;
  }
}

@media (max-width: 1200px) {
  ::ng-deep {
    .cdk-overlay-pane {
      max-width: 50vw !important;
    }
  }
}

@media (max-width: 900px) {
  ::ng-deep {
    .cdk-overlay-pane {
      max-width: 80vw !important;
    }
  }
}
