<h2 mat-dialog-title>Regras</h2>
<mat-dialog-content>
  <p class="mb-1 text-center"><strong>Como Jogar</strong></p>
  <p>
    "Perguntinhas" é um jogo de perguntas e respostas para estudantes de TI. Os jogadores inserem seu apelido e clicam em "Jogar". 
    Eles giram uma roda para escolher a categoria da pergunta e respondem perguntas de múltipla escolha dentro de um tempo limite. 
    Cada resposta errada ou fora do tempo faz o jogador perder uma vida, com um total de três vidas por partida.
  </p>  
  <p class="m-1 text-center"><strong>Objetivo do Jogo</strong></p>
  <p>
    O objetivo é proporcionar uma experiência educativa e envolvente, ajudando os estudantes de TI a revisar conhecimentos de forma divertida.
    Os jogadores acumulam pontos com base na dificuldade e rapidez das respostas, competindo para alcançar as maiores pontuações no ranking. 
    As partidas em tempo real entre dois jogadores adicionam desafio e interatividade, promovendo um aprendizado dinâmico.
  </p>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button [mat-dialog-close]="true" class="btn-ok p-2 flex-fill" cdkFocusInitial>
    <span class="text-white">Ok</span>
  </button>
</mat-dialog-actions>
