<div class="container-fluid vh-100 vw-100 bg-primary">
  <mat-toolbar>
    <span>{{ currentPlayer.nickname }}</span>
    <span class="spacer"></span>
    <h4 class="text-center fs-5">{{currentPlayer.score | number : '1.1-1'}} pontos</h4>
  </mat-toolbar>
  <div class="m-5 d-flex flex-column justify-content-center align-items-center">
      <div class="shape1"></div>
      <div class="shape2"></div>
      <h2 class="text-center text-light fs-1 mb-5 logo-font">Perguntinhas</h2>

      <div class="row w-100 justify-content-center" >
          <div class="col-md-8" *ngIf="question">
              <div class="info-card p-2 mb-2 mt-1">
                  <p class="question-text fs-4 fw-medium m-3 lh-base h-auto">{{ question.enunciado }}</p>
                  <p class="question-text fs-6 fw-medium m-3 lh-base">Tema: {{question.categoria | titlecase}} | Dificuldade: {{question.dificuldade | titlecase}}</p>
              </div>
              <div class="answers h-75 p-2">
                  <div *ngFor="let answer of question.alternativas; index as i">
                      <button
                          class="btn answer-button p-4 w-50 h-auto"
                          [ngClass]="{
                              'correct': selectedAnswer === answer,
                              'incorrect': selectedAnswer !== answer && selectedAnswer !== null
                          }"
                          (click)="selectAnswer(answer)"
                          [disabled]="selectedAnswer !== null">
                          <span class="answer-option fs-5 fw-medium">
                            <span>{{mapToAlternativeLetter(i)}})</span>
                            {{ answer.descricao }}
                          </span>
                      </button>
                  </div>
              </div>
              <p *ngIf="feedback" class="feedback">{{ feedback }}</p>
          </div>
          <div class="col-md-3">
              <div class="info-card p-2 mt-1 mb-3">
                  <h4 class="timer">Tempo: {{ timeLeft | number:'2.0' }}</h4>
              </div>
              <div class="info-card p-2 mt-1 mb-3">
                <div class="d-flex flex-row justify-content-center align-items-center">
                  <h4 class="timer">
                    Vidas:
                  </h4>
                  <div *ngFor="let life of heartLives">
                    <button mat-icon-button [ngClass]="life ? 'red-icon' : 'grey-icon'">
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="info-card p-2">
                  <h4 class="fw-bold fs-5">Ranking</h4>
                  <ul class="ranking-list" *ngIf="ranking">
                      <li
                          *ngFor="let player of ranking; let i = index"
                          [ngClass]="{'top-player': i < 1, 'current-player': checkCurrentPlayer(player)}"
                          class="ranking-item"
                      >
                        <span class="rank">{{ checkCurrentPlayer(player) ? playerPosition : i + 1 }}</span>
                        <span class="nickname">{{ player.nickname }}</span>
                        <span class="score">{{ player.score | number : '1.1-1' }}</span>
                      </li>
                  </ul>
                <mat-spinner color="#333333" [diameter]="30" class="loading" *ngIf="!ranking || ranking.length <= 0"></mat-spinner>
              </div>
          </div>
      </div>
  </div>
</div>
